.filter {
	display:flex;
	justify-content: flex-end;
	background-color: green;
}
.items{
	display: flex;
	margin-right: 20px;
}
.nameUsers{
	width: 200px;
	height: 47px;
	border-radius: 5px;
}
.select{
	width: 200px;
	border-radius: 5px;
}
